<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ssmm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.10646 -0.01803 1.1663E-18"
        rpy="0 0 0" />
      <mass
        value="0.8861" />
      <inertia
        ixx="0.0079901"
        ixy="1.1902E-06"
        ixz="-7.378E-19"
        iyy="0.016382"
        iyz="4.8245E-19"
        izz="0.0084009" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ssmm_gazebo/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ssmm_gazebo/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>